.row {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #f2f2f2;
}

.headerRow {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #f2f2f2;
  background-color: #f5f5f5;
}

.active {
  cursor: pointer;

  &:hover {
    background-color: #f5f5f5;
  }
}

.cell {
  flex: inherit;
  padding: 10px 20px;
  font-size: 0.86em;
  font-weight: 300
}

.number {
  text-align: right
}