@import "../variables";

.button {
  text-align: center;
  padding: 20px 40px;
  font-style: italic;
  text-transform: uppercase;
  background-color: $colorBlue;
  color: #fff;
  border: none;
  user-select: none;
  display: inline-block;
  transition: $timing all;
  margin: 0 auto;
  font-size: .9em;
  position: relative;
  z-index: 1;
  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);

	&:before {
	  transition-timing-function: cubic-bezier(0.2, 1, 0.3, 1);
	  content: '';
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 100%;
	  height: 100%;
	  background: #fff;
	  z-index: -1;
	  opacity: 0;
	  transform: scale3d(0.7, 1, 1);
	  transition: transform $timing, opacity $timing;
	  box-sizing: border-box;
	}

	&:hover {
		color: $colorBlue;
		background: none;
		cursor: pointer;

		&:before {
			opacity: 1;
    	transform: translate3d(0, 0, 0);
		}
	}

	&:active {
		top: 1px;
 		box-shadow: none;
	}
}
